= content_for :title do
  = I18n.t('devise.confirmations.new.resend_confirmation_instructions')



%h2= t '.resend_confirmation_instructions'

= form_for resource, as: resource_name, url: confirmation_path(resource_name),
                     builder: BlueprintFormBuilder,
                     html: { method: :post } do |f|
  = f.errors

  = f.form_group :email do |f, error_classes| 
    - value = resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email
    = f.email_field :email,
                    value: value, class: %w[bp3-input bp3-fill] + error_classes, 
                    spellcheck: false

  = f.submit t('.resend_confirmation_instructions'),
             class: %w[bp3-intent-primary]

= render "devise/shared/links" 
