<% content_for(
  :title, I18n.t('devise.confirmations.new.resend_confirmation_instructions')
) %>


<h2><%= t '.resend_confirmation_instructions' %></h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name),
                       html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email do %>
    <%= t "activerecord.attributes.user.email" %>
    <%= f.email_field(
      :email,
      value: (
        if resource.pending_reconfirmation?
          resource.unconfirmed_email
        else
          resource.email
        end
      ),
      class: "pt-input pt-fill",
      autofocus: true,
      spellcheck: false
    ) %>
  <% end %>

  <div class="actions">
    <%= f.submit t('.resend_confirmation_instructions'),
    :class => "o-button o-button-multiline pt-button pt-intent-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
