<% saved = reading_list.saved_by? current_reader %>

<button
  class="bp3-button bp3-intent-success bp3-icon-add <%= 'hidden' if saved %>"
  data-action="reading-list#save"
  data-target="reading-list.saveButton"
>
  <%= t '.save_reading_list' %>
</button>

<div
  class="reading-list__actions <%= 'hidden' unless saved %>"
  data-target="reading-list.savedTag"
>
  <div class="reading-list__tag">
    <span class="bp3-icon bp3-icon-tick"></span>
    <%= t '.reading_list_saved' %>
  </div>

  <button
    class="bp3-button bp3-minimal bp3-intent-danger bp3-icon-cross
           bp3-button--baseline-aligned"
    aria-label="<%= I18n.t('saved_reading_lists.destroy.remove_list') %>"
    data-action="reading-list#unsave"
  ></button>
</div>
