- title = I18n.t 'reading_lists.show.document_title', title: @reading_list.title
- content_for :title, title

.admin.md-container.reading-list
  %header.md-header.pt-dark
    %h1.admin__title
      = @reading_list.title

  %aside.md-master
    .pt-dark
      .pt-callout.reading-list__info
        .pt-running-text
          = raw markdown @reading_list.description

          .reading-list__info__reader
            = identicon @reading_list.reader
            = @reading_list.reader.name

    - if reader_signed_in?
      %button.pt-button.pt-intent-success.pt-icon-add Save Reading List

    - else
      .pt-card.pt-elevation-4.devise-card
        = render 'devise/sessions/sign_in', resource: Reader.new

  %main.md-detail.pt-dark
    - @reading_list.items.each do |item|
      - kase = item.case.decorate

      .reading-list-item
        %img.admin__table__thumbnail{ src: kase.small_cover_url,
                                      role: 'presentation' }

        = link_to case_path kase do
          %span.admin__table__slug= kase.short_title
          = kase.title

        - if reader_signed_in?
          - if item.enrolled?(current_user)
            .reading-list-item__enrolled
              %span.pt-icon.pt-icon-tick
              Enrolled
          - else
            %button.pt-button.pt-icon-plus Enroll

        .reading-list-item__notes.pt-running-text
          = raw markdown item.notes
