<% content_for :title do
  I18n.t 'reading_lists.show.document_title', title: reading_list.title
end %>

<div class="admin md-container reading-list">
  <header class="md-header bp3-dark">
    <h1 class="admin__title">
      <%= reading_list.title %>
    </h1>
  </header>

  <aside
    class="md-master"
    data-controller="reading-list"
    data-reading-list-id="<%= reading_list.id %>"
  >
    <div class="bp3-dark">
      <div class="bp3-callout reading-list__info">
        <div class="bp3-running-text">
          <%= raw markdown reading_list.description %>

          <div class="reading-list__info__reader">
            <%= identicon reading_list.reader %> <%= reading_list.reader.name
            %>
          </div>
        </div>
      </div>
    </div>

    <% if reader_signed_in? %>
      <div class="bp3-dark">
        <% if reading_list.reader == current_reader %>
          <%= render 'actions', reading_list: reading_list %>
        <% else %>
          <%= render 'save_button',
                     reading_list: reading_list, reader: current_reader %>
        <% end %>
      </div>
    <% else %>
      <div class="bp3-card bp3-elevation-4 devise-card">
        <%= render 'devise/sessions/sign_in', resource: Reader.new %>
      </div>
    <% end %>
  </aside>

  <main class="md-detail bp3-dark">
    <% reading_list.items.each do |item| %>
      <% kase = item.case.decorate %>

      <div
        class="reading-list-item"
        data-controller="reading-list-item"
        data-reading-list-item-case-slug="<%= kase.slug %>"
      >
        <img
          class="admin__table__thumbnail"
          role="presentation"
          src="<%= kase.small_cover_url %>"
        />

        <%= link_to case_path(kase), class: "reading-list-item__case-link" do %>
          <span class="admin__table__slug">
            <%= kase.short_title %>
          </span>

          <%= kase.title %>
        <% end %>

        <% if reader_signed_in? %>
          <% enrolled = item.enrolled?(current_reader) %>

          <div class="reading-list-item__action">
            <div
              class="reading-list__tag <%= 'hidden' unless enrolled %>"
              data-target="reading-list-item.enrolledTag"
            >
              <span class="bp3-icon bp3-icon-tick"></span>
              Enrolled
            </div>

            <button
              class="bp3-button bp3-icon-plus <%= 'hidden' if enrolled %>"
              data-action="reading-list-item#enroll"
              data-target="reading-list-item.enrollButton"
            >
              Enroll
            </button>
          </div>
        <% end %>

        <div class="reading-list-item__notes bp3-running-text">
          <%= raw markdown item.notes %>
        </div>
      </div>
    <% end %>
  </main>
</div>

<%= content_for :head do %>
  <meta property="og:title" content="<%=
    I18n.t 'reading_lists.show.sharable_title', title: reading_list.title
  %>" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="<%= reading_list.description %>" />
  <% if reading_list.social_image_url %>
    <meta property="og:image" content="<%= reading_list.social_image_url %>" />
  <% end %>
  <meta property="article:author" content="<%= reading_list.reader.name %>" />
<% end %>
