.dialog.devise
  %h2=t '.change_my_password'

  =form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for:
        = resource.unconfirmed_email

    = f.label :password, class: "pt-label" do
      = t 'activerecord.attributes.user.password'
      = f.password_field :password, class: "pt-input pt-fill", autocomplete: "off"

    = f.label :password_confirmation, class: "pt-label" do
      = t 'activerecord.attributes.user.password_confirmation'
      = f.password_field :password_confirmation, class: "pt-input pt-fill", autocomplete: "off"

    = f.label :current_password, class: "pt-label" do
      = t 'activerecord.attributes.user.current_password'
      %br
      %span.pt-text-muted= t '.to_confirm_your_changes'
      = f.password_field :current_password, class: "pt-input pt-fill", autocomplete: "off"

    .actions
      = f.submit t('.save'), class: "o-button pt-button pt-intent-primary"

-#.dialog.devise
  -#%h2= t'.cancel_my_account'

  -#%p Unhappy?
  -#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete
