.dialog.devise
  %h2= t('.sign_up')

  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!

    .pt-control-group.pt-fill
      = f.label :name, class: "pt-label" do
        = t 'activerecord.attributes.reader.name'
        = f.text_field :name, class: "pt-input pt-fill", autofocus: true, tabindex: 1

    = f.label :locale, class: "pt-label" do
      = t 'activerecord.attributes.reader.locale'
      .pt-select
        = f.select :locale, options_for_select(locale_names, I18n.locale), {}, tabindex: 2

    = f.label :email, class: "pt-label" do
      = t 'activerecord.attributes.user.email'
      = f.email_field :email, class: "pt-input pt-fill", tabindex: 3

    = f.label :password, class: "pt-label" do
      = t 'activerecord.attributes.user.password'
      - if @minimum_password_length
        %span.pt-text-muted
          = t 'devise.shared.minimum_password_length',
              count: @minimum_password_length
      = f.password_field :password, class: "pt-input pt-fill", autocomplete: "off", tabindex: 4

    = f.label :password_confirmation, class: "pt-label" do
      = t 'activerecord.attributes.user.password_confirmation'
      = f.password_field :password_confirmation, class: "pt-input pt-fill", autocomplete: "off", tabindex: 5

    = f.submit t('.sign_up'), class: "o-button pt-button pt-intent-primary", tabindex: 7
    %a.o-button.pt-button.pt-icon-log-in.oauth-icon-google{role: 'button',
      tabindex: '0', href: omniauth_authorize_path('authentication_strategy', 'google')}
      = t('devise.shared.links.sign_in_with_provider', provider: 'google')

  = render "devise/shared/links"
