.dialog.devise
  %h2= t '.my_account'
  = form_for @reader, url: :profile, builder: BlueprintFormBuilder do |f|
    .pt-control-group.pt-fill
      = f.label :name, class: "pt-label" do
        = t 'activerecord.attributes.reader.name'
        = f.text_field :name, class: "pt-input pt-fill", autofocus: true, tabindex: 1
      = f.label :initials, class: "pt-label pt-fixed" do
        = t 'activerecord.attributes.reader.initials'
        = f.text_field :initials, class: "pt-input field-reader-initials", tabindex: 10

    = f.label :locale, class: "pt-label" do
      = t 'activerecord.attributes.reader.locale'
      .pt-select
        = f.select :locale, options_for_select(locale_names, I18n.locale), {}, tabindex: 2

    = f.label :email, class: "pt-label" do
      = t 'activerecord.attributes.user.email'
      = f.email_field :email, class: "pt-input pt-fill", tabindex: 3

    .reader-image-input
      = f.label :image, class: 'pt-label' do
        = t 'activerecord.attributes.user.image'
        .pt-file-upload.pt-fill
          = f.file_field :image, tabindex: 4
          %span.pt-file-upload-input= t '.choose_an_image'
      %img{ src: @reader.image_url }

    %h2= t '.notification_settings'
    %div{ style: 'padding-bottom: 1em'}

      = f.label :send_reply_notifications, class: 'notification pt-control pt-checkbox' do
        = t 'activerecord.attributes.reader.send_reply_notifications'
        = f.check_box :send_reply_notifications
        %span.pt-control-indicator

    .actions
      = f.submit t('.save'), class: "o-button pt-button pt-intent-primary"

  - if @reader.created_password
    %p=link_to t('devise.registrations.edit.change_my_password'), edit_reader_registration_path
  - else
    %h2= t '.create_a_password'
    = form_for @reader, url: :profile do |f|
      %p.pt-text-muted= t '.you_have_not_created_a_password', provider: @reader.providers.first.capitalize
      = f.label :password, class: 'pt-label' do
        = t 'activerecord.attributes.user.password'
        = f.password_field :password, class: 'pt-input pt-fill'
      = f.submit t('.create_a_password'), class: 'o-button pt-button'
