.pt-card.pt-elevation-4
  %h1.account-settings__title= t '.my_account'

  %div
    = form_with model: @reader, url: update_tos_reader_url(@reader), method: :post do |f|
      = f.check_box :terms_of_service
      = f.label 'I accept the Terms of Service'
      = f.submit t('.update_tos'), class: %w[pt-intent-primary]
