= render "admin_readers_menu"

%main
  %h2 Reader Accounts
  %table
    %thead
      %td Name
      %td Email
      %td Provider
      %td Last Signed In
    -@readers.each do |r|
      %tr
        %td= render r
        %td= r.email
        %td= r.provider.capitalize rescue "—"
        %td= time_ago_in_words(r.last_sign_in_at) rescue ""
