= render "admin_readers_menu"

%main.admin-board
  %h2 Reader Accounts
  %table
    %thead
      %td Name
      %td Email
      %td Provider
      %td Last Signed In
      - Role.all.each do |role|
        %td=role.name.capitalize
    -@readers.each do |reader|
      %tr{data: { reader_id: reader.id }}
        %td= render reader
        %td= reader.email
        %td= reader.provider.capitalize rescue "—"
        %td= time_ago_in_words(reader.last_sign_in_at) rescue ""
        - Role.all.each do |role|
          %td
            = toggle_role_button reader, role
