- content_for :title do
  = I18n.t('cases.stats.show.case_stats')
  —
  = @case.short_title

- content_for :javascript do
  :javascript
    window.caseSlug = "#{@case.slug}";
  = javascript_pack_tag 'stats'

.window.admin.stats-page
  .admin-card.pt-card.pt-elevation-2
    = link_to case_path @case do
      .case-cover-card-top{ style: "background-image: url(#{@case.cover_url})" }
        %span.admin__table__slug= @case.short_title

    #stats-container

