- content_for :title do
  = I18n.t('cases.stats.show.case_stats')
  —
  = @case.short_title


.window.admin
  .admin-card.pt-card.pt-elevation-2
    = link_to case_path @case do
      .case-cover-card-top{ style: "background-image: url(#{@case.cover_url})" }
        %span.admin__table__slug= @case.short_title

    %div
      %h1.admin__title= t '.case_stats'
      %div
        %ul
          %li
            %span.stat-label Created:
            = @case.created_at.strftime("%B %d, %Y")
          %li
            %span.stat-label Updated:
            = @case.updated_at.strftime("%B %d, %Y")
          %li 
            %span.stat-label Published:
            = @case.published_at.strftime("%B %d, %Y")
          
        %table.admin__table.pt-html-table
          %thead
            %tr
              %th(scope="col")='Event'
              %th(scope="col")='Last Seven Days'
              %th(scope="col")='Last 6 Months'
              %th(scope="col")='Last Year'
              %th(scope="col")='All Time'
          %tbody
            %tr
              %td Deployed
              %td= @case.deployments.where(created_at: 7.days.ago..).size
              %td= @case.deployments.where(created_at: 6.months.ago..).size
              %td= @case.deployments.where(created_at: 12.months.ago..).size
              %td= @case.deployments.size
            %tr
              %td Total Reader Activity
              %td= Ahoy::Event.for_case(@case).where(time: 7.days.ago..).size
              %td= Ahoy::Event.for_case(@case).where(time: 6.months.ago..).size
              %td= Ahoy::Event.for_case(@case).where(time: 12.months.ago..).size
              %td= Ahoy::Event.for_case(@case).size
            %tr
              %td Reader Visits Case Overview
              %td= Ahoy::Event.for_case(@case).where_properties(name: 'read_overview').where(time: 7.days.ago..).size
              %td= Ahoy::Event.for_case(@case).where_properties(name: 'read_overview').where(time: 6.months.ago..).size
              %td= Ahoy::Event.for_case(@case).where_properties(name: 'read_overview').where(time: 12.months.ago..).size
              %td= Ahoy::Event.for_case(@case).where_properties(name: 'read_overview').size
            %tr
              %td Reader Listens to a podcast
              %td= Ahoy::Event.for_case(@case).where_properties(name: 'visit_podcast').where(time: 7.days.ago..).size
              %td= Ahoy::Event.for_case(@case).where_properties(name: 'visit_podcast').where(time: 6.months.ago..).size
              %td= Ahoy::Event.for_case(@case).where_properties(name: 'visit_podcast').where(time: 12.months.ago..).size
              %td= Ahoy::Event.for_case(@case).where_properties(name: 'visit_podcast').size  
            -# %tr
            -#   %td Visits a CaseElement page
            -#   %td= Ahoy::Event.for_case(@case).where_properties(name: 'visit_element').where(time: 7.days.ago..).size
            -#   %td= Ahoy::Event.for_case(@case).where_properties(name: 'visit_element').where(time: 6.months.ago..).size
            -#   %td= Ahoy::Event.for_case(@case).where_properties(name: 'visit_element').where(time: 12.months.ago..).size
            -#   %td= Ahoy::Event.for_case(@case).where_properties(name: 'visit_element').size
            -# %tr
            -#   %td Reads a quiz
            -#   %td= Ahoy::Event.for_case(@case).where_properties(name: 'read_quiz').where(time: 7.days.ago..).size
            -#   %td= Ahoy::Event.for_case(@case).where_properties(name: 'read_quiz').where(time: 6.months.ago..).size
            -#   %td= Ahoy::Event.for_case(@case).where_properties(name: 'read_quiz').where(time: 12.months.ago..).size
            -#   %td= Ahoy::Event.for_case(@case).where_properties(name: 'read_quiz').size
            -# %tr
            -#   %td Reads a Card
            -#   %td= Ahoy::Event.for_case(@case).where_properties(name: 'read_card').where(time: 7.days.ago..).size
            -#   %td= Ahoy::Event.for_case(@case).where_properties(name: 'read_card').where(time: 6.months.ago..).size
            -#   %td= Ahoy::Event.for_case(@case).where_properties(name: 'read_card').where(time: 12.months.ago..).size
            -#   %td= Ahoy::Event.for_case(@case).where_properties(name: 'read_card').size
            -# %tr
            -#   %td Engages With Endnote
            -#   %td= Ahoy::Event.for_case(@case).where_properties(name: 'visit_edgenote').where(time: 7.days.ago..).size
            -#   %td= Ahoy::Event.for_case(@case).where_properties(name: 'visit_edgenote').where(time: 6.months.ago..).size
            -#   %td= Ahoy::Event.for_case(@case).where_properties(name: 'visit_edgenote').where(time: 12.months.ago..).size
            -#   %td= Ahoy::Event.for_case(@case).where_properties(name: 'visit_edgenote').size

      .pt-callout.pt-icon-info-sign.form__callout
        Totals only count non-admin users that were signed-in to Gala when viewing the case.

      %table

