<% content_for :title do %>
  <%= I18n.t('cases.stats.show.case_stats') %> — <%= @case.short_title %>
<% end %>

<div class="window admin">
  <div class="admin-card admin-card--wide pt-card pt-elevation-2">
    <%= link_to case_path(@case) do %>
      <div class="case-cover-card-top" style="background-image: url(<%= @case.cover_url %>)">
        <span class="admin__table__slug"><%= @case.short_title %></span>
      </div>
    <% end %>

    <div>
      <h1 class="admin__title"><%= t('.case_stats') %></h1>

      <div
        data-controller="case-stats"
        data-endpoint="<%= "#{case_path(@case)}/insights" %>"
        data-link="<%= case_path(@case) %>"
        data-published-at="<%= @case.published_at&.to_date&.iso8601 %>"
        data-min-date="<%= @case.created_at.to_date.iso8601 %>"
        data-max-date="<%= Time.zone.now.to_date.iso8601 %>"
        data-deployments-count="<%= @case.deployments.count %>"
        data-locales="<%= (@stats_locales || []).to_json %>"
      ></div>
    </div>
  </div>
</div>
