.admin.pt-dark
  %h1.admin__title
    = t '.my_cases'

  - if @cases.any?
    = button_to cases_path,
                method: :post,
                class: 'pt-button pt-intent-success pt-icon-add' do
      = t '.new_case'

    %table.admin__table.pt-html-table
      %thead
        %td
        %td= t 'activerecord.attributes.case.case_title'
        %td= t 'activerecord.attributes.case.slug'
        %td= t 'activerecord.attributes.case.library'
        %td= t 'activerecord.attributes.case.published'
        %td
        %td
        %td

      %tbody
        -@cases.each do |kase|
          %tr
            %td
              %img.admin__table__thumbnail{ src: kase.small_cover_url,
                                            role: 'presentation' }

            %td
              %span.admin__table__slug
                = kase.kicker || '—'
                - if kase.featured?
                  %span.pt-tag.pt-minimal.pt-intent-success
                    = succeed ':' do
                      = t '.featured'
                    = localize kase.featured_at.to_date
              = kase.title

            %td
              = link_to case_path kase do
                %code= kase.slug

            %td= kase.library.name

            %td{title: kase.published_at}
              - if kase.published?
                = localize kase.published_at.to_date, format: :long
              - else
                —

            %td
              = link_to '', edit_case_path(kase),
                        aria: { label: t('.edit_case') },
                        class: 'pt-button pt-minimal pt-icon-edit'

            %td
              = link_to '', edit_case_settings_path(kase),
                        aria: { label: t('.edit_case_settings') },
                        class: 'pt-button pt-minimal pt-icon-cog'

            %td
              = button_to case_path(kase),
                          class: 'pt-button pt-minimal pt-intent-danger pt-icon-trash',
                          aria: { label: t('.delete_case') },
                          data: { confirm: t('.confirm_delete') },
                          method: :delete do
                -# This needs to take a block because that makes a <button> tag
                -# rather than an <input type="submit"> tag

  - else
    .my-cases-non-ideal-state.pt-non-ideal-state
      .pt-non-ideal-state-visual.pt-non-ideal-state-icon
        %span.pt-icon.pt-icon-book
      %h4.pt-non-ideal-state-title
        = t '.publish_a_case'
      .pt-non-ideal-state-description
        :markdown
          #{t '.put_your_own_cases_on_gala'}
      .pt-non-ideal-state-action
        = button_to cases_path,
                    method: :post,
                    class: 'pt-button pt-intent-success pt-icon-add' do
          = t '.new_case'
