- content_for :title, I18n.t('my_cases.index.my_cases')


.admin.md-container
  %header.md-header.pt-dark
    %h1.admin__title
      = t '.my_cases'

  %aside.md-master
    .pt-dark
      %h2.admin__title
        = t '.create_a_case'
        = link_to 'https://docs.learngala.com/docs/',
                  class: %i[pt-button pt-minimal pt-icon-help],
                  aria: { label: I18n.t('helpers.help') },
                  target: '_blank', rel: 'noopener noreferrer' do
          -# Empty
      :markdown
        #{t '.put_your_own_cases_on_gala'}
      .pt-callout.pt-icon-hand-right
        = t '.publish_with_a_creative_commons_license'
        .my-cases__link
          = link_to t('my_cases.index.learn_more'), 'https://docs.learngala.com/docs/'

    - if reader_signed_in?
      .pt-dark
        = form_with model: Case.new, local: true do |f|
         
          .spaced
            = f.submit I18n.t('my_cases.index.new_case'),
                      class: 'pt-button pt-intent-success pt-icon-add my-cases__v-align-top'
            .pt-select
              = f.select :locale, options_for_select(locale_names,
                                                    current_user.locale)
    - else
      .pt-card.pt-elevation-4.devise-card
        = render 'devise/sessions/sign_in', resource: Reader.new


  %main.md-detail.pt-dark
    - if @cases.any?
      %table.admin__table.pt-html-table.my-cases__table
        %thead
          %td
          %td= t 'activerecord.attributes.case.case_title'
          - if current_reader.has_role? :editor
            %td First Editor
          - else
            %td= t 'activerecord.attributes.case.slug'
          %td= t 'activerecord.attributes.case.locale'
          %td= t 'activerecord.attributes.case.library'
          %td= t 'activerecord.attributes.case.published'
          %td= t 'my_cases.index.case_stats'
          %td
          %td
          %td

        %tbody
          -@cases.each do |kase|
            %tr
              %td
                %img.admin__table__thumbnail{ src: kase.small_cover_url,
                                              role: 'presentation' }

              %td
                = link_to case_path kase do
                  %span.admin__table__slug
                    = kase.short_title
                    - if kase.featured?
                      %span.pt-tag.pt-minimal.pt-intent-success
                        = succeed ':' do
                          = t '.featured'
                        = localize kase.featured_at.to_date
                  = kase.title

              - if current_reader.has_role? :editor
                %td= kase.editorships.first&.editor_name
              - else
                %td
                  = link_to case_path kase do
                    %code= kase.slug

              %td= Translation.language_name kase.locale

              %td= kase.library.name

              %td{title: kase.published_at}
                - if kase.published?
                  = localize kase.published_at.to_date, format: :long
                - else
                  —

              %td
                = link_to '', edit_case_settings_path(kase),
                          aria: { label: t('.case_stats') },
                          class: 'pt-button pt-minimal pt-icon-series-search'

              %td
                = link_to '', edit_case_path(kase),
                          aria: { label: t('.edit_case') },
                          class: 'pt-button pt-minimal pt-icon-edit'

              %td
                = link_to '', edit_case_settings_path(kase),
                          aria: { label: t('.edit_case_settings') },
                          class: 'pt-button pt-minimal pt-icon-cog'

              %td
                = link_to '', case_confirm_deletion_path(kase),
                          class: 'pt-button pt-minimal pt-intent-danger pt-icon-trash',
                          aria: { label: t('.delete_case') }
              
              

    - else
      .pt-non-ideal-state
        .pt-non-ideal-state-visual.pt-non-ideal-state-icon
          %span.pt-icon.pt-icon-folder-open
        %h4.pt-non-ideal-state-title
          = t '.youre_not_authoring_any_cases'
        .pt-non-ideal-state-description
          = t '.once_youve_created'
