- accessible = current_user.can_read?(c) || current_user.can_update?(c)
- classes = "BillboardTitle catalog-case #{"catalog-case-unpublished" unless c.published} #{'catalog-case-accessible' if accessible}"
- size = c.featured? ? :featured : :square
- background = "background-image:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)), url(#{ix_cover_image c, size})"
=link_to (accessible ? case_path(c, trailing_slash: true) : '#'), class: classes, style: background do
  - if !c.published
    - if current_user.can_read?(c) && !current_user.can_update?(c)
      .catalog-case-preview-banner
        =t '.in review'
    - else
      .catalog-case-unpublished-banner
        =t '.forthcoming'
  .catalog-case-credits
    %h2
      %span.c-kicker=c.kicker
      =c.title
    %p{style: c.featured? ? "" : "display: none"}
      - unless c.dek.blank?
        = c.dek
      - else
        = c.authors.to_sentence
