= form_for @case, html: {class: "dialog dialog--admin"} do |f|
  %h2=@case.kicker || "New Case"

  - if @case.errors.any?
    #error_explanation
      %ul
        - @case.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :slug
    %em lowercase letters or numerals separated by hyphens
    %br
    = f.text_field :slug
  .actions.actions--horizontal
    = f.submit
    -if @case.persisted?
      = button_to "Edit Case Contents", case_path(@case, anchor: '/edit'), method: :get
