%noscript
  .bp3-running-text.bp3-dark
    %h1
      = succeed ':' do
        = kase.short_title
      = kase.title

    %h2= kase.dek

    %p
      %em= kase.authors.map { |a| a[:name] }.to_sentence

    %p= kase.summary

    .bp3-callout.bp3-intent-danger.bp3-icon-error
      Javascript is required to use Gala.
