.admin.pt-dark
  %h1.admin__title
    All Cases

  = link_to "New Case", new_case_path, class: "pt-button"

  %table.admin-cases.pt-table
    %thead
      %td
      %td Case Title
      %td Slug
      %td Library
      %td Featured
      %td Published
    %tbody
      -@cases.each do |kase|
        %tr
          %td
            %img.admin-cases__thumbnail{src: ix_cover_image(kase, :small)}
          %td
            %span.admin-cases__slug= kase.kicker
            = kase.title
          %td
            %code= kase.slug
          %td= kase.library.name
          %td{title: kase.featured_at}
            = time_ago_in_words kase.featured_at unless kase.featured_at.nil?
          %td{title: kase.published_at}
            = time_ago_in_words kase.published_at unless kase.published_at.nil?
