.admin.admin--centered
  .pt-card.pt-elevation-2
    = form_for @case, builder: BlueprintFormBuilder do |f|
      %h1.admin__title= t '.new_case'

      - if @case.errors.any?
        .pt-callout.pt-intent-danger.pt-icon-error.form__errors
          %h5 The case could not be saved
          - @case.errors.full_messages.each do |msg|
            %div= msg

      = f.form_group :kicker,
                     in_parens: t('forms.required'),
                     helper_text: t('.short_noun_phrase') do |f, error_classes|
        .pt-input-group{class: error_classes}
          %span.pt-icon.pt-icon-tag
          = f.text_field :kicker, class: %w[pt-input]

      = f.form_group :title,
                     in_parens: t('forms.required'),
                     helper_text: t('.the_main_question') do |f, error_classes|
        .pt-input-group{class: error_classes}
          %span.pt-icon.pt-icon-help
          = f.text_field :title, class: %w[pt-input]

      = f.form_group :library_id do |f, error_classes|
        .pt-select.pt-fill{class: error_classes}
          = f.select :library_id, @libraries.map { |l| [l.name, l.id]  },
                   { include_blank: t('activerecord.models.shared_cases_library') }
      .actions
        = f.submit class: %w[pt-button pt-intent-success]
