- if cases.empty?
  .spaced
  .bp3-form-group.bp3-tag.bp3-minimal= t 'libraries.edit.no_cases'
- else
  %table.admin__table.bp3-html-table.my-cases__table
    %thead
      %td
      %td= t 'activerecord.attributes.case.case_title'
      %td= t 'activerecord.attributes.case.slug'
      %td= t 'activerecord.attributes.case.published'
      %td
      %td
      %td

    %tbody
      - cases.each do |kase|
        %tr
          %td
            %img.admin__table__thumbnail{ src: kase.small_cover_url,
                                          role: 'presentation' }

          %td
            = link_to case_path kase do
              %span.admin__table__slug
                = kase.short_title
                - if kase.featured?
                  %span.bp3-tag.bp3-minimal.bp3-intent-success
                    = succeed ':' do
                      = t 'my_cases.index.featured'
                    = localize kase.featured_at.to_date
              = kase.title

            %td
              = link_to case_path kase do
                %code= kase.slug

          %td{title: kase.published_at}
            - if kase.published?
              = localize kase.published_at.to_date, format: :long
            - else
              —

          %td
            = link_to '', edit_case_path(kase),
                      aria: { label: I18n.t('my_cases.index.edit_case') },
                      class: 'bp3-button bp3-minimal bp3-icon-edit'

          %td
            = link_to '', edit_case_settings_path(kase),
                      aria: { label: I18n.t('my_cases.index.edit_case_settings') },
                      class: 'bp3-button bp3-minimal bp3-icon-cog'

          %td
            = form_with model: kase, url: case_library_path(kase),
                      method: :put, local: true do |f|
              = f.hidden_field :library_id, value: nil
              = f.button '',
                        aria: { label: I18n.t('libraries.edit.remove_case_from_library') },
                        class: %w[bp3-button bp3-minimal bp3-intent-warning bp3-icon-small-cross],
                        data: { confirm: I18n.t('libraries.edit.confirm_remove_case_from_library', name: kase.kicker) }

