.spaced
  = form_for library, builder: BlueprintFormBuilder do |f|
    = f.errors

    = f.form_group :name

    = f.form_group :description do |f, error_classes|
      = f.text_area :description, class: %i[bp3-input bp3-fill] + error_classes

    = f.form_group :url

    .row
      = f.form_group :background_color do |f, error_classes|
        = f.color_field :background_color,
                        class: %i[bp3-input bp3-fill] + error_classes

      = f.form_group :foreground_color do |f, error_classes|
        = f.color_field :foreground_color,
                        class: %i[bp3-input bp3-fill] + error_classes

    :ruby
      logo_helper_text = "#{
        t 'helpers.attachments.max_size.ruby',
          size: number_to_human_size(2.megabytes)
      }<br />#{
        t 'helpers.attachments.file_type.ruby', types: %w[PNG].to_sentence
      }".html_safe

    = f.form_group :logo, helper_text: logo_helper_text do |f, error_classes|
      - if f.object.logo.attached?
        = image_tag f.object.logo.variant(resize_to_limit: [50, 50]),
                    class: 'logo'
      = f.file_field :logo, class: %i[bp3-fill] + error_classes,
                            direct_upload: true,
                            accept: 'image/png'

    - if policy(Library).create?
      = f.check_box :visible_in_catalog

    = f.submit

= javascript_pack_tag 'file_upload'
