- library.managerships.sort_by(&:manager_name).each do |managership|
  .editorship.non-spaced
    %span.bp3-tag.bp3-minimal= managership.manager_name
    - unless managership.manager == current_reader
      = form_with url: managership_path(managership),
                  method: :delete, local: true do |f|
        = f.button '',
                  aria: { label: I18n.t('managerships.destroy.remove') },
                  class: %w[bp3-button bp3-small bp3-minimal bp3-intent-danger bp3-icon-small-cross bp3-unsaturated],
                  data: { confirm: I18n.t('managerships.destroy.are_you_sure',
                                          name: managership.manager_name) }

.admin-card__sidebar__actions
  = link_to new_library_managership_path library do
    %span.bp3-tag.bp3-intent-success
      %span.bp3-icon.bp3-icon-add
      %span= t 'managerships.new.add_manager'