- if requests.empty?
  .spaced
  .bp3-form-group.bp3-tag.bp3-minimal= t 'libraries.edit.no_requests'
- else
  .librequests
    - requests.each do |request|
      - kase = request.case.decorate
      .request.bp3-tag.bp3-minimal
        .bp3-form-group
          .case-cover-card-top.cover{ style: "background-image: url(#{kase.cover_url})" }
            = link_to case_path kase do
              %span.admin__table__slug
                = kase.short_title
        .bp3-form-group.bp3-tag.bp3-minimal= raw t('libraries.edit.requested_by', {name: request.requester.name})
        .bp3-form-group
          = form_with model: request, url: case_library_request_path(request),
                      method: :put, local: true do |f|
            = f.hidden_field :status, value: request.class.statuses[:accepted]
            = f.button I18n.t('library_requests.edit.accept'),
                      aria: { label: I18n.t('library_requests.edit.accept') },
                      class: %w[bp3-button bp3-intent-success bp3-icon-add],
                      data: { confirm: I18n.t('library_requests.edit.are_you_sure_accept') }
          = form_with model: request, url: case_library_request_path(request),
                      method: :put, local: true do |f|
            = f.hidden_field :status, value: request.class.statuses[:rejected]
            = f.button I18n.t('library_requests.edit.reject'),
                      aria: { label: I18n.t('library_requests.edit.reject') },
                      class: %w[bp3-button bp3-intent-warning bp3-icon-delete],
                      data: { confirm: I18n.t('library_requests.edit.are_you_sure_reject') }