- content_for :title do
  = I18n.t('libraries.edit.edit_library')
  = @library.name

.libmanager.admin
  %section.col1
    .admin-card.pt-card.pt-elevation-2
      %h1.admin__title= t 'libraries.edit.edit_library'
      = render 'form', library: @library

    .admin-card__sidebar.pt-dark.spaced--compact
      %h2.deployments__group= t 'libraries.edit.library_managers'
      = render 'managerships', library: @library

  %main.col2.md-detail.pt-dark
    %h2.deployments__group= t 'libraries.edit.case_library_requests'
    = render 'requests', requests: @requests
    .spaced

    %h2.deployments__group= t 'libraries.edit.library_cases'
    = render 'cases', cases: @cases

