- content_for :title, I18n.t('libraries.index.libraries')

.admin.md-container
  %header.md-header.bp3-dark
    %h1.admin__title
      = t '.libraries'

  %aside.md-master.spaced
    - if policy(Library).create?
      .bp3-card
        %h2.admin__title= t '.create_a_new_library'
        = render 'form'

    .bp3-dark
      .bp3-callout.bp3-icon-git-push
        = t '.libraries_on_gala'

  %main.md-detail.bp3-dark
    %table.admin__table.bp3-html-table.libraries__table
      %thead
        %th(scope="col")=# Logo
        %th(scope="col")= t 'activerecord.attributes.library.name'
        %th(scope="col")=# Url
        %th(scope="col")= t 'activerecord.attributes.library.description'
        %th(scope="col")=# Number of Cases
        %th(scope="col")=# Edit link
        %th(scope="col")=# Delete link

      %tbody
        - libraries.each do |library|
          %tr
            %td.library-logo{ style: library.define_color_variables }
              %img{ src: library.logo_url, alt: '' }

            %td
              = library.name
              - if policy(Library).create? && library.visible_in_catalog?
                %span.bp3-tag.bp3-minimal.bp3-intent-success
                  = t '.on_home_page'

            %td
              - unless library.url.blank?
                = link_to library.url,
                          class: %i[bp3-button bp3-minimal bp3-icon-share],
                          aria: { label: I18n.t('activerecord.attributes.library.website') },
                          target: 'blank' do
                  -# Empty

            %td.library-description
              = truncate library.description, length: 140, separator: ' ' do
                &emsp;
                = link_to t('helpers.less.read_more'), library.catalog_path

            %td
              = link_to pluralize(library.cases_count, 'case'),
                        library.catalog_path,
                        class: %i[bp3-button bp3-icon-book library-button]

            %td
              - if policy(library).update?
                = link_to edit_library_path(library),
                          class: %i[bp3-button bp3-minimal bp3-icon-cog],
                          aria: { label: I18n.t('helpers.edit') } do
                  -# Empty
            %td
              - if policy(library).destroy?
                = button_to library_path(library), method: :delete,
                          data: { confirm: I18n.t('libraries.destroy.are_you_sure') },
                          class: %i[bp3-button bp3-minimal bp3-intent-danger bp3-icon-trash],
                          aria: { label: I18n.t('libraries.destroy.delete_library') } do
                  -# Empty
