.catalog-cases

  - unless reader_signed_in?
    .catalog-splash
      .catalog-welcome.dialog
        .catalog-welcome-message
          %h1=t '.redefining_sustainability_education'
          %p
            =t '.intro_paragraph'
          %p=link_to "#{t('.learn_more')} ▸", "//www.teachmsc.org"
        .catalog-welcome-sign-in
          = render partial: 'devise/sessions/sign_in', locals: {resource: Reader.new}

  - else
    #dashboard-app
      .catalog-dashboard
        .catalog-dashboard__reader
          %h1=t '.greeting', initials: current_reader.initials
          %h2=t '.my_cases'
        .catalog-dashboard__my-cases--empty__case
          %img{src: "https://images.unsplash.com/photo-1429704658776-3d38c9990511?ixlib=rb-0.3.5&w=300&h=300&fit=crop&crop=focalpoint&fp-x=.535&fp-y=.6&fp-z=2.5&mono=493092"}
          %strong=t '.study_a_case'
        .catalog-dashboard__my-cases--empty__intro
          :markdown
            #{t '.my_cases_placeholder'}

  - unless @featured.empty?
    %h1.o-catalog__heading=t '.featured_cases'
    .carousel
      .catalog-cases-featured
        - @featured.each do |c|
          = render partial: 'cases/case', locals: {c: c}
      .carousel-button.carousel-button-left ‹
      .carousel-button.carousel-button-right ›

  - unless @index.empty?
    %h1.o-catalog__heading=t '.case_index'
    .catalog-cases-index
      - @index.each do |c|
        = render partial: 'cases/case', locals: {c: c}

- if reader_signed_in?
  :javascript
    window.reader = #{render partial: "readers/reader", formats: [:json], locals: {reader: current_reader}}

  = javascript_include_tag "react/dashboard.bundle"
