.catalog-cases

  - unless reader_signed_in?
    .catalog-splash
      .catalog-welcome.dialog
        .catalog-welcome-message
          %h1=t '.redefining_sustainability_education'
          %p
            =t '.intro_paragraph'
          %p=link_to "#{t('.learn_more')} ▸", "//www.teachmsc.org"
        .catalog-welcome-sign-in
          = render partial: 'devise/sessions/sign_in', locals: {resource: Reader.new}

  - else
    #dashboard-app

  - unless @featured.empty?
    %h1.c-catalog__heading=t '.featured_cases'
    .carousel
      .catalog-cases-featured
        - @featured.each do |c|
          = render partial: 'cases/case', locals: {c: c}
      .carousel-button.carousel-button-left ‹
      .carousel-button.carousel-button-right ›

  - unless @index.empty?
    %h1.c-catalog__heading=t '.case_index'
    .catalog-cases-index
      - @index.each do |c|
        = render partial: 'cases/case', locals: {c: c}

- if reader_signed_in?
  :javascript
    window.reader = #{render partial: "readers/reader", formats: [:json], locals: {reader: current_reader}}

  = javascript_include_tag "react/dashboard.bundle"
