= render 'catalog/content_items/selection_params'

#catalog-app
= javascript_pack_tag "catalog"

%noscript
  .bp3-running-text.bp3-dark
    %h1= t 'catalog.open_access_learning_tools'
    %h2= t 'catalog.impactful_cases'
    %p= t 'catalog.find_a_case'
    %h2= t 'catalog.innovative_teaching'
    %p= t 'catalog.improve_your_communication'
    %h2= t 'catalog.inclusive_community'
    %p= t 'catalog.join_the_community'

    .bp3-callout.bp3-intent-danger.bp3-icon-error
      Javascript is required to use Gala.

    %h2= t 'cases.index.all_cases'
    %ul
    - cases.each do |kase|
      %li
        = link_to case_path kase do
          = succeed ':' do
            = kase.short_title
          = kase.title


- content_for :head do
  %meta{ name: 'twitter:card', content: 'summary'}
  %link{ rel: 'preload', as: 'fetch', crossorigin: 'anonymous',
         href: profile_path(format: :json) }
  %link{ rel: 'preload', as: 'fetch', crossorigin: 'anonymous',
         href: cases_path(format: :json) }
  %link{ rel: 'preload', as: 'fetch', crossorigin: 'anonymous',
         href: features_path(format: :json) }
  %link{ rel: 'preload', as: 'fetch', crossorigin: 'anonymous',
         href: enrollments_path(format: :json) }
  %link{ rel: 'preload', as: 'fetch', crossorigin: 'anonymous',
         href: tags_path(format: :json) }
  %link{ rel: 'preload', as: 'fetch', crossorigin: 'anonymous',
         href: catalog_libraries_path(format: :json) }
