%h2= t('devise.sessions.new.sign_in')

= form_for resource, as: resource_name, url: session_path(resource_name),
           builder: BlueprintFormBuilder do |f|

  = f.form_group :email do |f, error_classes|
    = f.email_field :email, class: (%w[pt-input pt-fill] + error_classes),
                            spellcheck: false

  = f.form_group :password do |f, error_classes|
    = f.password_field :password, class: (%w[pt-input pt-fill] + error_classes),
                                  autocomplete: "current-password"

  - if devise_mapping.rememberable?
    .pt-form-group
      = f.check_box :remember_me

  = f.check_box :terms_of_service

  = f.submit t('devise.sessions.new.sign_in'), class: %w[pt-intent-primary]
  %a.pt-button.pt-icon-log-in.oauth-icon-google{ role: 'button', tabindex: '0',
    href: omniauth_authorize_path('authentication_strategy', 'google') }
    = t('devise.shared.links.sign_in_with_provider', provider: 'Google')

= render "devise/shared/links"
