- if kase.featured?
  %h2.admin__title= t 'features.index.featured_cases'
  %p= t 'features.destroy.this_case_was_featured_on',
        date: l(kase.featured_at.to_date, format: :long)
  - if policy(:'cases/feature').destroy?
    = form_with model: kase, url: feature_path(kase),
                local: true, builder: BlueprintFormBuilder do |f|
      = f.form_group :featured_at do |f, error_classes|
        .bp3-control-group
          .bp3-input-group.bp3-fill{class: error_classes}
            %span.bp3-icon.bp3-icon-star
            = f.datetime_local_field :featured_at, class: %w[bp3-input]
          = f.submit t('.change_featured_time'),
                     class: %w[bp3-button bp3-intent-success]
    = form_with url: feature_path(kase), method: :delete, local: true do |f|
      = f.submit I18n.t('features.destroy.unfeature_case'),
                 class: %w[bp3-button bp3-intent-danger]

- else
  - if policy(:'cases/feature').create?
    %h2.admin__title= t 'features.create.feature_case'
    %p= t 'features.create.this_case_is_not_featured'
    = form_with url: features_path, local: true do |f|
      = hidden_field_tag :case_slug, kase.slug
      = f.submit I18n.t('features.create.feature_case'),
                 class: %w[bp3-button bp3-intent-success]
