- if libraries.any?
  = form_for kase, url: case_library_path(kase),
                    builder: BlueprintFormBuilder do |f|
    = f.form_group :library_id do |f, error_classes|
      .pt-control-group
        .pt-select.pt-fill{class: error_classes}
          = f.select :library_id, libraries.map { |l| [l.name, l.id]  },
                     include_blank: t('activerecord.models.shared_cases_library')
        = f.submit I18n.t('cases.settings.edit.change_library'),
                   class: %w[pt-button pt-intent-success]
  - if kase.active_case_library_request.present?
    = form_with url: case_library_request_path(kase.active_case_library_request),
                method: :delete, local: true do |f|
      %div.case-slug-preview.request
        = raw I18n.t('library_requests.new.pending',
                     name: kase.active_case_library_request.library.name)
        = f.button '',
                  aria: { label: I18n.t('library_requests.destroy.remove') },
                  class: %w[pt-button pt-small pt-minimal pt-intent-danger pt-icon-cross pt-unsaturated]

