.admin.admin--centered
  .pt-card.pt-elevation-2
    .case-cover-card-top{ style: "background-image: url(#{@case.cover_url})" }
      %span.admin__table__slug= @case.kicker

    %div
      %h1.admin__title= t '.edit_case_settings'
      = render 'slug_form'
      = render 'library_form'
      = render 'featured_form'
