.window.admin
  .admin-card.pt-card.pt-elevation-2
    .case-cover-card-top{ style: "background-image: url(#{@case.cover_url})" }
      %span.admin__table__slug= @case.kicker

    %div
      %h1.admin__title= t '.edit_case_settings'
      = render 'slug_form'
      = render 'library_form'
      = render 'featured_form'

  .admin-card__sidebar.pt-dark.spaced--compact
    %h2.deployments__group= t '.case_editors'

    - @editorships.sort_by(&:editor_name).each do |editorship|
      .editorship.non-spaced
        %span.pt-tag.pt-minimal= editorship.editor_name
        = form_with url: editorship_path(editorship),
                    method: :delete, local: true do |f|
          = f.button '', aria: { label: I18n.t('editorships.destroy.delete') },
                         class: %w[pt-button pt-small pt-minimal pt-intent-danger pt-icon-small-cross pt-unsaturated]


    .admin-card__sidebar__actions
      = link_to new_case_editorship_path @case do
        %span.pt-tag.pt-intent-success
          %span.pt-icon.pt-icon-add
          %span= t '.invite_editors'
