<div
  class="deployment spaced--compact"
  data-controller="deployments--invite-drawer anchor-focus"
  data-target="deployments--invite-drawer.container anchor-focus.container"
  id="d<%= deployment.id %>"
>
  <div class="deployment__details row--compact">
    <div class="deployment__case">
      <span class="deployment__case__kicker">
        <%= deployment.case.kicker %>
      </span>

      <%= spotlight :deployment_details, placement: 'top' do %>
        <%= link_to(
              deployment,
              class: %w[bp3-button bp3-small bp3-minimal bp3-icon-people]
            ) do %>
          <%= t '.n_enrolled',
                count: reader_counts_by_deployment_id[deployment.id]
          %>
        <% end %>
      <% end %>
    </div>

    <div class="deployment__actions">
      <%= deployment.quiz_link %>

      <%= spotlight :invite_learners, placement: 'top' do %>
        <button
          class="deployment__open-invite bp3-button bp3-small bp3-minimal
                 bp3-icon-new-person"
          data-action="deployments--invite-drawer#open"
        >
          <%= t '.invite_learners' %>
        </button>
      <% end %>

      <button
        class="deployment__close-invite bp3-button bp3-small bp3-minimal
               bp3-icon-cross"
        data-action="deployments--invite-drawer#close"
      >
        <%= t 'helpers.close' %>
      </button>
    </div>
  </div>

  <%= render 'invite_drawer', deployment: deployment %>
</div>
