%table.admin__table.bp3-html-table(data-target="enrolled-learners")
  %thead
    %th(scope="col")= t 'activerecord.attributes.reader.name'
    - if deployment.pretest_assigned?
      %th(scope="col")= t '.pretest'
    %th(scope="col")= t '.case_completion'
    - if deployment.pretest_assigned?
      %th(scope="col")= t '.posttest'

  %tbody
    - progressions.each do |progression|
      %tr
        %th(scope="row")= progression.reader_name

        - if deployment.pretest_assigned?
          %td
            - if progression.pretest_submitted?
              %span.bp3-icon.bp3-icon-tick
              = progression.pretest_submission.score

        %td= number_to_percentage progression.completed_fraction * 100,
                                  precision: 0

        - if deployment.pretest_assigned?
          %td
            - if progression.posttest_submitted?
              %span.bp3-icon.bp3-icon-tick
              = progression.posttest_submission.score

  %tfoot
    %tr
      %td.pagination(colspan=4)
        %span.previous
          = link_to_previous_page progressions,
                                  t('views.pagination.previous').html_safe,
                                  remote: true
        %span.info
          = page_entries_info progressions, entry_name: 'learner'
        %span.next
          = link_to_next_page progressions,
                              t('views.pagination.next').html_safe,
                              remote: true
