= form_for deployment, builder: BlueprintFormBuilder,
                        data: { controller: 'select-new'} do |f|
  = f.errors

  = f.hidden_field :case_id

  = f.form_group :group_id do |f|
    .bp3-select.bp3-fill
      = f.select :group_id, options_for_group_select,
                 {include_blank: t('.select_a_group')},
                 data: { action: 'select-new#toggleFormVisibility' }

  .new-group{ data: { target: 'select-new.form' } }
    = f.fields_for :group do |f|
      = f.form_group :name do |f, err|
        = f.text_field :name, disabled: true,
                              data: { target: 'select-new.input' },
                              class: %w[bp3-input bp3-fill] + err

  = f.submit class: %w[bp3-button bp3-intent-primary]
