.admin.md-container
  %header.md-header.pt-dark
    %h1.admin__title= t '.teach_with_cases'

  %aside.md-master.spaced
    .pt-card.pt-elevation-2
      %h2.admin__title= t '.new_deployment'
      = render 'form'

  %main.md-detail.pt-dark
    - if deployments.empty?
      = render 'instructions'

    -else
      .spaced
        - deployments.grouped.each do |group, group_deployments|
          %h2.deployments__group= group.name

          - group_deployments.each do |deployment|
            = render deployment
