- content_for :title do
  = I18n.t('deployments.new.teach_this_case')
  —
  = @case.short_title


.window.admin
  .admin-card.bp3-card.bp3-elevation-2
    - if @case
      .case-cover-card-top{ style: "background-image: url(#{@case.cover_url})" }
        %span.admin__table__slug= @case.short_title

    %h1.admin__title= t '.teach_this_case'
    %p= t '.instructions'

    = render 'form', deployment: @deployment

  - unless @deployments.empty?
    .admin-card__sidebar.bp3-dark.spaced--compact
      %h2.deployments__group= t '.active_deployments'

      - @deployments.sort_by{ |d| d.group.name }.each do |deployment|
        .deployment
          = link_to deployment.group.name, focus_deployment_path(deployment),
                    class: %w[bp3-tag bp3-minimal]
