%footer.footer
  .footer__container
    .footer__copyright
      © 2016 –
      = Time.zone.now.year
      The Regents of the University of Michigan
    .footer__links
      = link_to 'Get Help', 'https://docs.learngala.com',
                target: '_blank', rel: 'noopener noreferrer'
      = link_to 'Open Source', 'https://github.com/galahq/gala',
                target: '_blank', rel: 'noopener noreferrer'
      - if ENV['RELEASE'].present?
        %a.footer__release{ href: "https://github.com/galahq/gala/releases/tag/#{ENV['RELEASE']}" }
          = ENV['RELEASE']
