<nav class="Toolbar__bar bp3-dark">
  <div class="MaxWidthContainer">
    <div class="Toolbar__group bp3-navbar-group">
      <%= link_to t('catalog.catalog'), root_path,
                  class: 'bp3-button bp3-minimal bp3-icon-home' %>
      <%= link_to my_cases_nav_button_text, my_cases_path,
                  class: 'bp3-button bp3-minimal bp3-icon-annotation' %>
      <%= link_to deployments_nav_button_text, deployments_path,
                  class: 'bp3-button bp3-minimal bp3-icon-follower' %>
    </div>

    <div class="Toolbar__group bp3-navbar-group"></div>

    <div class="Toolbar__group bp3-navbar-group">
      <%= form_with url: '/catalog/search', local: true, method: :get do %>
        <div class="bp3-input-group bp3-round">
          <span class="bp3-icon bp3-icon-search"></span>
          <input class="bp3-input" name="q" placeholder="<%= I18n.t('search.search_cases') %>" type="text">
            <span class="bp3-input-action">
              <button type="submit" class="bp3-button bp3-minimal bp3-icon-arrow-right"></button>
            </span>
          </input>
        </div>
      <% end %>
    </div>
  </div>
</nav>

<div class="window window-admin">
  <div class="MaxWidthContainer">
    <%= yield %>
  </div>
</div>

<% parent_layout 'with_header' %>
