<nav class="Toolbar__bar pt-dark">
  <div class="MaxWidthContainer">
    <div class="Toolbar__group pt-navbar-group">
      <%= link_to t('catalog.catalog'), root_path,
                  class: 'pt-button pt-minimal pt-icon-home' %>
      <%= link_to my_cases_nav_button_text, my_cases_path,
                  class: 'pt-button pt-minimal pt-icon-annotation' %>
      <%= link_to deployments_nav_button_text, deployments_path,
                  class: 'pt-button pt-minimal pt-icon-follower' %>
    </div>

    <div class="Toolbar__group pt-navbar-group"></div>

    <div class="Toolbar__group pt-navbar-group">
      <%= form_with url: '/catalog/search', local: true, method: :get do %>
        <div class="pt-input-group pt-round">
          <span class="pt-icon pt-icon-search"></span>
          <input class="pt-input" name="q" placeholder="<%= I18n.t('search.search_cases') %>" type="text">
            <span class="pt-input-action">
              <button type="submit" class="pt-button pt-minimal pt-icon-arrow-right"></button>
            </span>
          </input>
        </div>
      <% end %>
    </div>
  </div>
</nav>

<div class="window window-admin">
  <div class="MaxWidthContainer">
    <%= yield %>
  </div>
</div>

<% parent_layout 'with_header' %>
