<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <title>Gala</title>
    <%= favicon_link_tag 'https://msc-gala.imgix.net/favicon_gala.png' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag do %>
      window.i18n = {}
      window.i18n.locale = '<%=I18n.locale%>'
    <% end %>

    <%= javascript_pack_tag "manifest" %>
    <%= javascript_pack_tag "vendor" %>

    <%= render 'application/fonts' %>

    <meta property="og:site_name" content="Gala" />
    <% if content_for? :head %><%= content_for :head %><% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
