<!DOCTYPE html>
<html>
  <head>
    <title>Michigan Sustainability Cases</title>
    <%= favicon_link_tag 'http://msc-gala.imgix.net/favicon_gala.png' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag do %>
      window.i18n = {}
      window.i18n.locale = '<%=I18n.locale%>'
    <% end %>

    <script src="https://use.typekit.net/adn1xoi.js"></script>
    <script>try{Typekit.load({ async: false  });}catch(e){}</script>
  </head>

  <body>
    <header>
      <%= link_to root_path, id: "logo" do %>
        <%= inline_svg 'msc-logo.svg' %>
      <% end %>
      <% if reader_signed_in? %>
        <div id="reader-menu">
          <div id="reader-menu-dismiss" class="hidden dismiss menu-dismiss"></div>
          <ul id="reader-menu-dropdown" class="hidden">
            <li><%=link_to t('readers.form.my_account'), edit_reader_path(current_reader) %></li>
            <li><%=link_to t('devise.sessions.destroy'), destroy_reader_session_path, method: :delete %></li>
          </ul>
          <div id="reader-icon"<%= raw " style=\"background-image: url('#{current_reader.image_url}')\"" unless current_reader.image_url.blank? %>>
            <%= current_reader.initials if current_reader.image_url.blank? %>
          </div>
          <span class="dropdown-caret"></span>
        </div>
      <% else %>
        <div id="reader-sign-in">
          <%=link_to t('devise.sessions.new.sign_in'), new_reader_session_path %>
        </div>
      <% end %>
    </header>

    <% if flash[:notice] %>
      <div class="flash flash-notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="flash flash-alert"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
