<!DOCTYPE html>
<html lang="<%= I18n.locale %>" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">

    <title>
      <% if content_for? :title %><%= content_for :title %> — <% end %>
      Gala
    </title>

    <%= favicon_link_tag 'favicon_gala.png' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <% mapbox_token = ENV['MapboxAccessToken'] || ENV['MAPBOX_ACCESS_TOKEN'] %>
    <% if mapbox_token.present? %>
      <meta name="mapbox-access-token" content="<%= mapbox_token %>"/>
    <% end %>

    <%= render 'application/reader_javascript_tag' %>
    <%= javascript_tag do %>
      window.i18n = { locale: '<%=I18n.locale%>' }
      window.MAPBOX_ACCESS_TOKEN = '<%= ENV.fetch("MAPBOX_ACCESS_TOKEN", "MAPBOX_TOKEN_REMOVED") %>'
      window.MAPBOX_STYLE = '<%= ENV.fetch("MAPBOX_STYLE", "mapbox://styles/cbothner/cj5l9s2dg2aps2sqfrnidiq14") %>'
    <% end %>

    <script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=default,fetch,Intl,Intl.~locale.<%= I18n.locale %>&flags=gated"></script>
    <script src="https://browser.sentry-cdn.com/4.2.2/bundle.min.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'runtime' %>
    <%= javascript_pack_tag 'vendor' %>

    <%= javascript_pack_tag 'styles' %>
    <%= stylesheet_pack_tag 'styles' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= render 'application/fonts' %>

    <%= javascript_pack_tag 'controllers' %>
    <%= javascript_pack_tag 'onboarding' %>
    <%= javascript_include_tag 'application' %>

    <meta property="og:site_name" content="Gala" />
    <% if content_for? :head %><%= content_for :head %><% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
