<!DOCTYPE html>
<html>
  <head>
    <title>Michigan Sustainability Cases</title>
    <%= favicon_link_tag 'https://msc-gala.imgix.net/favicon_gala.png' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag do %>
      window.i18n = {}
      window.i18n.locale = '<%=I18n.locale%>'
    <% end %>

    <script src="https://use.typekit.net/adn1xoi.js"></script>
    <script>try{Typekit.load({ async: false  });}catch(e){}</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
