<!DOCTYPE html>
<html>
  <head>
    <title>Michigan Sustainability Cases</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag do %>
      window.i18n = {}
      window.i18n.locale = '<%=I18n.locale%>'
    <% end %>

    <script src="https://use.typekit.net/adn1xoi.js"></script>
    <script>try{Typekit.load({ async: true  });}catch(e){}</script>
  </head>

  <body>
    <header>
      <h1 id="logo"><%= inline_svg 'msc-logo.svg' %></h1>
    </header>

    <%= yield %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72782607-1', 'auto');
    </script>
  </body>
</html>
