<header>
  <%= link_to root_path, id: "logo" do %>
    <%= inline_svg 'msc-logo.svg' %>
  <% end %>
  <div id="main-menu-app" class="pt-dark"></div>
  <%= javascript_tag do %>
    window.reader = <% if reader_signed_in? %>
    <%= raw render partial: "readers/reader", formats: [:json], locals: {reader: current_reader}%>
    <% else %>
    undefined;
    <% end %>
  <% end %>
  <%= javascript_pack_tag 'main-menu' %>
</header>

<% if flash[:notice] || flash[:alert] %>
  <% if flash[:notice] %>
    <div class="flash flash-notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div class="flash flash-alert"><%= flash[:alert] %></div>
  <% end %>
  <script type="text/javascript">
  setTimeout(
    function(){
      var nodes = document.querySelectorAll('.flash:not(.flash-hidden)')
      for (var node of nodes) { node.classList.add('flash-hidden') }
    },4000)
  </script>
<% end %>

<%= yield %>

<% parent_layout 'application' %>
