<header class="header">
  <div class="header__container">
    <%= link_to root_path, id: "gala-logo" do %>
      <%= inline_svg_tag 'gala-logo.svg' %>
    <% end %>
    <div id="main-menu-app" class="pt-dark"></div>
    <%= javascript_pack_tag 'main-menu', async: true %>
</div>
</header>

<%= render 'application/unsupported_browser' %>

<% if flash[:notice] || flash[:alert] %>
  <% if flash[:notice] %>
    <div class="flash flash-notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div class="flash flash-alert"><%= flash[:alert] %></div>
  <% end %>
  <script type="text/javascript">
  setTimeout(
    function(){
      var nodes = document.querySelectorAll('.flash:not(.flash-hidden)')
      for (var node of nodes) { node.classList.add('flash-hidden') }
    },4000)
  </script>
<% end %>

<%= yield %>

<%= render 'application/footer' %>

<% parent_layout 'application' %>
