<header>
  <%= link_to root_path, id: "logo" do %>
    <%= inline_svg 'msc-logo.svg' %>
  <% end %>
  <% if reader_signed_in? %>
    <div id="reader-menu">
      <div id="reader-menu-dismiss" class="hidden dismiss menu-dismiss"></div>
      <ul id="reader-menu-dropdown" class="hidden">
        <li><%=link_to t('readers.form.my_account'), edit_profile_path %></li>
        <li><%=link_to t('devise.sessions.destroy'), destroy_reader_session_path, method: :delete %></li>
      </ul>
      <div id="reader-icon"<%= raw " style=\"background-image: url('#{current_reader.image_url}')\"" unless current_reader.image_url.blank? %>>
        <%= current_reader.initials if current_reader.image_url.blank? %>
      </div>
      <span class="dropdown-caret"></span>
    </div>
  <% else %>
    <div id="reader-sign-in">
      <%=link_to t('devise.sessions.new.sign_in'), new_reader_session_path %>
    </div>
  <% end %>
</header>

<% if flash[:notice] %>
  <div class="flash flash-notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
  <div class="flash flash-alert"><%= flash[:alert] %></div>
<% end %>

<%= yield %>

<% parent_layout 'application' %>
